#main-window {
	border: 10px solid black;
}

GtkFrame {
	background-image: url( "../img/bg_login.jpg" );
	background-size: 100%;
	font-weight: 500;
	border: none;
	border-radius: 0;
}

GtkGrid {
	border: 1px solid #00CC00;
	background: rgba( 0, 0, 0, 0.7 );
}

#label-username, #label-password {
	color: #00CC00;
}

GtkEntry {
/*	width: 100;*/
	border: none;
	border-bottom-width: 1px;
	border-bottom-color: #00CC00;
	border-bottom-style: solid;
	border-radius: 0;
	background: rgba( 0, 0, 0, 0.4 );
	color: #00CC00;
}

#button-login, GtkButton {
	border-radius: 0px;
	background: rgba( 0, 0, 0, 0.7 );
	border: 1px solid #00CC00;
	color: #00CC00;
	transition: 150ms linear;
}

#button-login:hover {
	background: #00CC00;
	color: rgba( 0, 0, 0, 0.8 );
}

GtkButton:hover {
	background: #00CC00;
	color: rgba( 0, 0, 0, 0.8 );
}

/* Message Dialog */
GtkMessageDialog {
	border: 1px solid #00CC00;
	background: rgba( 0, 0, 0, 0.7 );
	color: #00CC00;
}